body {
    width: 800px;
    margin:0 auto;
    padding:40px;
}

.input-region {
    width: 800px;
}

#addNewTodoButton {
    float: right;
    margin-top:10px;
    width: 200px;
}

.total {
    float: right;
}

body {
    background: url("../imgs/confectionary.png");
}

#notifier {
    word-break: break-all;
    width: 250px;
    background: #3c763d;
    color: #ffffff;
    border-radius: 2px;
    position: fixed;
    right:10px;
    top:20px;
    padding: 10px;
}